.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #242424;
  color: white;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.signin-button {
  background-color: #1a1a1a;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.signin-button:hover {
    border-color: #646cff;
}
